{% extends "layout.html" %}
{% load static %}

{% block content %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/keyword.html">关键字管理</a></li>
        <li class="active">新建关键字</li>
    </ol>
    <div style="padding: 5px 8px;">
        <form method="POST" action="/backend/keyword_add.html" id="myForm" novalidate>
            {% include 'keyword_layout.html' %}
        </form>
    </div>
{% endblock %}
{% block js %}
<script src="/static/js/del_js.js"></script>
<script src="/static/js/layout_setting.js"></script>
{% endblock %}