<a type="button" class="btn btn-primary" onclick="wbgs(this)">格式</a>
<div id="flo" style="display: none;position:absolute;min-height: 34px;border-radius: 5px;background-color: #cccccc;padding: 0 10px">
    <div id="flo1" style="line-height: 34px;"></div>
    <div id="flo2" style="line-height: 34px;"></div>
</div>
<table class="table table-bordered table-striped" id="tab">
    <tbody id="tbody">
        {% for table_td_list in table_tr_list %}
            <tr class="tr">
                <td class="td">{{ forloop.counter }}</td>
{#                <td><a type="button" class="btn" onclick="zj(this)"></a><td>#}
                {% for i in table_td_list %}
                    <td><input type="text" class="form-control input-select" value="{{ i }}"><a type="btn" onclick="add(this)">+</a><a type="btn" onclick="del(this)">-</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<textarea id="text" class="kind-content" style="display: none;width: 1550px;height: 200px;" ></textarea>