<div>
    <div class="form-group">
        <label for="detail">{{ form.project.label }}<span>{{ form.project.errors.0 }}</span></label>
        {{ form.project }}
    </div>
    <div class="form-group">
        <label for="{{ form.suite_name.label }}">{{ form.suite_name.label }}<span>{{ form.suite_name.errors.0 }}</span></label>
        {{ form.suite_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.sort.label }}">{{ form.sort.label }}<span>{{ form.sort.errors.0 }}</span></label>
        {{ form.sort }}
    </div>
    <a class="btn btn-primary" onclick="test(this)">Settings>></a>
    <div id="div1" style="display: block;">
        <div>
            <label for="detail">{{ form.Documentation.label }}<span>{{ form.Documentation.errors.0 }}</span></label>
            {{ form.Documentation }}
        </div>
        <div>
            <label for="detail">{{ form.Suite_Setup.label }}<span>{{ form.Suite_Setup.errors.0 }}</span></label>
            {{ form.Suite_Setup }}
        </div>
        <div>
            <label for="detail">{{ form.Suite_Teardown.label }}<span>{{ form.Suite_Teardown.errors.0 }}</span></label>
            {{ form.Suite_Teardown }}
        </div>
        <div><label for="detail">{{ form.Test_Setup.label }}<span>{{ form.Test_Setup.errors.0 }}</span></label>
            {{ form.Test_Setup }}
        </div>
        <div>
            <label for="detail">{{ form.Test_Teardown.label }}<span>{{ form.Test_Teardown.errors.0 }}</span></label>
            {{ form.Test_Teardown }}
        </div>
        <div>
            <label for="detail">{{ form.Test_Template.label }}<span>{{ form.Test_Template.errors.0 }}</span></label>
            {{ form.Test_Template }}
        </div>
        <div>
            <label for="detail">{{ form.Test_Timeout.label }}<span>{{ form.Test_Timeout.errors.0 }}</span></label>
            {{ form.Test_Timeout }}
        </div>
        <div>
            <label for="detail">{{ form.Force_Tags.label }}<span>{{ form.Force_Tags.errors.0 }}</span></label>
            {{ form.Force_Tags }}
        </div>
        <div>
            <label for="detail">{{ form.Default_Tags.label }}<span>{{ form.Default_Tags.errors.0 }}</span></label>
            {{ form.Default_Tags }}
        </div>
    </div>
    <div>
        <label for="detail">{{ form.Library.label }}</label>
        {{ form.Library }}
        <div class="clearfloat"></div>
    </div>
    {% include 'resource_select.html' %}
    <div>
        <label for="detail">{{ form.Variables.label }}<span>{{ form.Variables.errors.0 }}</span></label>
        {{ form.Variables }}
    </div>
    <div>
        <label for="detail">{{ form.Scalar_Variables.label }}<span>{{ form.Scalar_Variables.errors.0 }}</span></label>
        {{ form.Scalar_Variables }}
    </div>
    <div>
        <label for="detail">{{ form.List_Variables.label }}<span>{{ form.List_Variables.errors.0 }}</span></label>
        {{ form.List_Variables }}
    </div>
    <div>
        <label for="detail">{{ form.Dict_Variables.label }}<span>{{ form.Dict_Variables.errors.0 }}</span></label>
        {{ form.Dict_Variables }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="保 存">
    </div>
</div>