{% extends "layout.html" %}
{% load static %}

{% block content %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/testcase.html">用例管理</a></li>
        <li class="active">编辑用例</li>
    </ol>
    <div style="padding: 5px 8px;">
        <form method="POST" action="/testcase_edit-{{ nid }}.html" novalidate>
            {% include 'testcase_layout.html' %}
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/del_js.js"></script>
    <script src="/static/js/layout_setting.js"></script>
{% endblock %}
